
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    
  }
  
  .modalContent {
    background: #070000;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 974px;
    height: 100%;
    max-height: 1200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
    padding: 60px 30px;


    
  }
  
  .modalclose {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    transition: border-color 0.3s ease;

    

  }
  
  .modalclose:hover {
   
    text-shadow: 1px 1px 3px rgb(223, 198, 14);
    scale: 1.1;
    
  }
  
  .modalclose:active {
   scale: 0.9;
  }

  .btn{
    width: 100%;
    max-width: 200px;
    height: 62px;
    border: 3px solid  rgba(34, 113, 209, 1);
    border-radius: 15px 15px ;
    background-color: #000000;
    color: #ffffff;
    font-family: "IBM Plex Mono", serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
    padding: 0;
    transition: border-color 0.3s ease;
    cursor: pointer;

}
.btn:active{
    border-color: #2003ff; 
    box-shadow: 0px 0px 5px 5px rgb(0, 79, 175);    
    scale: 0.95;
    color: #0082ce;
}

.btn:hover {
    border-color: #2003ff; 
    box-shadow: 0px 0px 5px 5px rgb(0, 79, 175);
    
}

  